.inline{
    
    display:inline !important}
.inputWidthWithNumber{
width:50px 
}
.inputWidthWithTest{
    width:100px
}

.tableColumn{
  width:50px;
  
}
.tableForButton{
    display:inline !important;
    margin-left: 10px;
    margin-right:10px
}
.tableForMulter{
    display:inline !important;
    width:70px
}
.backgroundColor{
    background-color: grey;
}

.setProductFrom{
    background-color: burlywood
}

.availability{
    font-size:14px;
    color:grey
}