.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(240, 238, 238);
    width: 300px;
    height:450px;
    margin-top:auto;
    margin-bottom:auto;
    border: 5px solid rgba(242, 244, 245, 0.863);
    padding: 10px;
    box-shadow: 5px 12px rgb(223, 216, 216);
    border-radius: 20px;


}
.name{ color: rgb(37, 45, 56);
    text-shadow: 5px 5px 13px rgb(120, 184, 214);
    font-size: 40px;
   }

.name:hover{color:rgb(15, 68, 29);}
.btw:hover{background-color: rgb(191, 245, 177);
           color: dimgrey;}

.smallBox{margin-bottom: 30px;}
.small{text-align: center;color: rgb(22, 19, 61);
font-size: 12px;text-align-last: justify;letter-spacing: 2px;
}
/* .loginFormTitle{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.userLoginItem{
    margin-bottom: 10px;
}
.userLoginItemLabel{
    margin-right: 10px;
}

.userLoginInput{
    border:none;
    width:150px;
    height:30px;
    border-bottom:1px solid gray;
}

.buttonContainer{
    margin-top: 20px;
}

.loginBtn{
    width: 100%;
} */