.NewUserItemLabel{
    margin-bottom: 10px;
    font-size:14px;
    font-weight: 600;
    color: gray;
}

.NewUserItemInput{
    height: 40px;
    padding: 10px;
    border-radius: 5px ;
    border: 1px solid gray ;
    box-sizing: border-box ;
} 