.btw{ 	
    background-color: rgb(218, 241, 217);
	border: 1px solid rgb(79, 153, 95);
	border-radius: 15px;
	width:200px;
	height:50px;
    font-size: 20px;
    font-weight: 500;
	margin-top: 10px
 ;}

 .memo{
    background-color: rgba(239, 245, 239, 0.829);
    margin: 10px 10px 10px 10px ;
	height:160px
 }

 .memo2{
    background-color: rgba(239, 245, 239, 0.829);
    margin: 10px 10px 10px 10px ;
 }
 .btw:hover{ 	
    background-color: rgb(53, 126, 51);
	border: 1px solid rgb(79, 153, 95);
    color:cornsilk;
	border-radius: 20px;
	width:200px;
	height:50px;
    font-size: 20px;
    font-weight: 500;
 ;}

 .orderNo{ font-size:20px; text-align: center !important}
 .product{text-align: center !important ;font-size:35px !important}
 .divide{max-width:60vw}
 .bigContainer{
	width:90vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items:  baseline;
	align-content: stretch;}

.width{width:90vw!important; margin-top: 15px;}
.department{font-size: 25px;}
.numOfOrder{

	color: rgba(22, 39, 30, 0.719) !important;
}


.finishYet{
    margin-left: 50px !important;
	color: rgba(22, 39, 30, 0.719) !important;
}

@media only screen and (max-width: 1650px) {
	.width{width:80vw!important; margin-top: 15px;}
  }


