.inline {    
    display: inline !important;
    padding-top: 8px;
}

#formInput {
    text-align: center;
    border: 1px solid rgba(11, 181, 233, 0.39);
    background-color: rgba(191, 233, 180, 0.322);
    border-radius: 5px;
    margin-right: 15px;;
    color: rgba(73, 72, 88, 0.925);
    font-size: 14px;
    width: auto;
}

#fileUpload {
    background-color: none !important;
    width: 70px !important;
}

.form-select {
    background-color: rgba(191, 233, 180, 0.322);
    border-radius: 5px;
    color: rgba(73, 72, 88, 0.925);
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    border: 1px solid rgba(11, 181, 233, 0.39);
}

label.form-label {
    padding: 20px;
    color: rgba(121, 118, 118, 0.925);
    font-size: 18px;
}

.setupForm {
    padding: 10px 0 10px 0;
    width: 950px;
}

.setupDiscountForm {
    padding: 10px 0 10px 0;
    width: 100%;
    font-size: 18px;
}

.setProductForm {
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid rgb(221, 128, 128);
    background-color: white;
    padding: 10px;
    width: 890px;
}

.setDiscountForm {
    border-radius: 5px;
    border: 1px solid rgb(119, 182, 197);
    background-color: rgba(227, 233, 240, 0.959);
    padding: 10px 10px 10px 0px;
}

.categoryBorder {
    background-color: white;
    width: 600px;
    border-radius: 5px;
    border: 1px solid rgb(117, 159, 207);
    padding: 10px;
}


.inputWidthWithNumber {
    width: 50px;
    margin: 0 10px 0 10px;
    text-align: center;
}

.inputWidthWithTest{
    width: auto;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    background-color: rgba(191, 233, 180, 0.322);
    border-radius: 5px;
    border: 1px solid rgba(11, 181, 233, 0.39);
    color: rgba(73, 72, 88, 0.925);
}

.tableContent {
  width: 60px !important;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
  margin: 0 5px 0 10px;
  background-color: rgba(191, 233, 180, 0.322);
  border-radius: 5px;
  border: 1px solid rgba(11, 181, 233, 0.39);
  color: rgba(73, 72, 88, 0.925);
  font-weight: normal;
}

.tableForButton{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;

}

.tableForMulter{
    display: inline !important;
    width: 73px;
    border: none;
    margin-left: 5px;
    
}

.discountTable {
    display: flex;
    background-color: rgb(222, 228, 228);
    padding: 10px 0 10px 0;
    left: 100%;
    right: 100%;
    border-bottom: 1px solid rgb(151, 147, 147);
    font-size: 18px;
}

.discountContent {
    background-color: white;
    left: 100%;
    right: 100%;
    border-bottom: 1px solid rgb(151, 147, 147);
    padding: 5px 0 5px 0;
    display: flex;
    align-items: center;
}

.productContent {
    left: 100%;
    right: 100%;
}

.inTitle {
    height: 35px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(151, 147, 147);
    background-color: rgb(222, 228, 228)
    
}

.saleTime {
    margin: 10px 5px 10px 0;
    font-size: 18px;
}

.getProductForm {
    background-color: white;
    padding: 10px 0 10px 10px;
    color:rgba(42, 42, 43, 0.925);
    border: none !important;
}

.getProductDiv:last-child {
    border: none;
}

.getProductDiv {
    width: 100%;
    border-bottom: 1px solid rgb(151, 147, 147);

}


.addProductRow {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgb(151, 147, 147);
    background-color: white;
    font-size: 18px;
}

.addProductRow:last-child {
    border: none;
}

.containerBorder {
    border-radius: 5px;
    border: 1px solid black;    
}

.product {
    width: auto !important;
    font-size: 18px !important;
}

.price {
    width: 50px !important;
}

.submitButton {
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(74, 145, 238);
    color: rgb(74, 145, 238);
    padding-right: 20px;
    padding-left: 20px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.submitButton:hover{
    background-color:rgba(139, 215, 245, 0.349) !important;
    color: rgb(129, 123, 123);
  }

.deleteButton {
    border: 1px solid rgb(224, 134, 134);
    border-radius: 5px;
    background-color: white;
    color: rgb(245, 99, 99);
    padding-right: 20px;
    padding-left: 20px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.deleteButton:hover{
    background-color:rgba(255, 185, 144, 0.2) !important;
    color: rgb(255, 72, 72);
  }

.table {
    color: rgba(73, 72, 88, 0.925);
    border: none !important;
}

a{
    padding-left: 2px;
    color: rgb(88, 96, 207);
}

.putContainer{
    border-radius: 3px;
width: 100%;
margin-top: 25px;
border: 1px solid rgb(151, 147, 147,0.7);
 
}


.containerBorder{
    border-radius: 3px;
    width: 100%;
    margin-top: 25px;
     border: 1px solid rgb(151, 147, 147,0.7);
}


.product3{font-size: 14px !important; color: rgba(73, 72, 88, 0.925) !important}

@media only screen and (max-width: 1500px) {
    .putContainer{
        width: 1200px
    }

    .discountContent {
      width:1200px
    }
    .discountTable{

        width:1200px
    }
    .addProductRow{

        width:1200px
    }

    .addProductRow{

        width:1200px
    }
    .setDiscountForm{
        width:1200px
    }
    .containerBorder{
        width:1200px;
       
    }
  }