.blockContainer{
    display: flex;
    border: 1px solid #000;
    flex: 5;
}
.deskContainer {
    height: 100px;
    width: 100px;
    border: 1px solid red;
}

.seatContainer{
    height: 100px;
    width: 100px;
    display: flex;
}

.button {
    width: 100px;
    height: 50px;
}

.seatButton {
    width: 50px;
    height: 25px;
}

.card {
    width: 500px;
    height: 500px;
    border: 1px solid;
    border-radius: 10px;
}