.user{
    margin-left:10px ; 
    color:darkblue;
font-weight: 250px;}

.branch{
    color: rgb(91, 127, 196);
    text-shadow: 2px 2px 2px rgb(219, 236, 208);
    font-size: 10px;
    
    }

    .box{align-items: center;}
    