.userShowImg{
    width: 40px;
    height: 40px;
    border-radius:50%;
    object-fit: cover;
}

.userShowInfoIcon{
    font-size: 16px !important;
    margin-right: 15px;
}

.userUpateImg{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right:20px ;
}

.userUpdateItemLabel{
    margin-bottom:5px;
    font-size:14px
}

.userUpdateInput{
    border:none;
    width:250px;
    height:30px;
    border-bottom:1px solid gray;
}