
.toggleButton {
    margin: 5px!important;
    border: 1px solid lightgrey !important;
    border-radius: 10px !important;
    width:28.2%;
    height: 30%;
}

.toggleButtonGroup {
   flex-wrap: wrap;
   width : 100%;
   height: 80%;
   margin: 0;
}

.tableHead {
    position: sticky !important;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    border: solid 3px lightgrey !important;
    height: 40%;
}

.occupied{
    background-color: crimson;
}

.free{
    background-color: green;
}
