@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
.container{

	font-size: 20px;
	font-family: ‘cwTeXYen’, sans-serif;
	background-color: rgb(16, 185, 16)!important;	
	
}
.containerFinish{

	font-size: 20px;
	font-family: ‘cwTeXYen’, sans-serif;
	background-color:rgba(247, 240, 240, 0.733)!important;	
		
}
.containerCooked{

	font-size: 20px;
	font-family: ‘cwTeXYen’, sans-serif;
	background-color:rgb(209, 243, 209) !important;	
		
}
.orderContainer{
    
	background-color: rgba(247, 240, 240, 0.733);
	border: 1px solid rgb(206, 189, 189);
	border-radius: 5px;
	
	padding-top: 1px;
	
	margin: 5px ;
}
.countContainer{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
	
	height:95vh   
	
}

.btw-packing{

	background-color: rgb(240, 216, 216);
	border: none !important;
	
	border-radius: 7px;
	width:80px;
	height:30px;
	
}
.btw-packing:hover{background-color: rgba(192, 235, 210, 0.747);}
.customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width:320px;
	font-size: 20px;
  }
  
  .customers td, #customers th {
	
	padding: 3px;
  }
   
  .customers tr:hover {background-color: rgb(218, 212, 212);}
  
  .center{ margin-left: 90px;
    margin-right: auto;
	font-size: 23px;
	font-weight:500px
}
  .stage{font-size: 10px;}
  .finish{background-color: green;	
	border-radius: 5px;
	font-size: 15px;
	width:280px;
	padding-top: 1px;
	margin: 5px ;}
  .discountSetName{background-color: rgba(247, 240, 240, 0.733)!important; font-size: 20px; font-weight:600px}
  .width280{width:280px}
  .setBorder{	border-top: 1px solid gray;
	border-radius: 15px;}
  .packing{writing-mode: vertical-rl ;
	 	font-family: ‘cwTeXYen’, sans-serif;
	background-color: rgb(218, 231, 218)!important;	
	width:45px;
   font-size:28px;
   padding-top:10px}

   .bigContainer{
	  width:90%
   }

   .numOfOrder{
     font-size: 25px;
	 margin-left:10px
   }
   .cooking{

	background-color: rgb(240, 216, 216) !important;
   }

.big{margin-top: 12px;margin-left: 12px;}


@media only screen and (max-width: 1650px) {
	.bigContainer{
		width:80% !important
	 }
	 
	 .bigContainer{
		width:80% !important
	 }
  }