.container{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.select{
	width :300px;
	height:100px
}

.quantityContainer{
	display: flex;
	justify-content:space-around;
}

 .MenuMainPageContainer{
	flex:10;
	padding:10px;
	display:flex;
	position: relative;
	justify-content: space-around;
}


.checkedCategory{
	background-color:  rgba(16, 29, 214, 0.658) !important;
	color: white !important;
}

.option{
	margin-left: auto;
	margin-right: auto;
	width:250px ;
	height: 30px;
}

/* .menuPageContainer{
	background-color:lightgrey;
	padding:10px;
	margin-top: 20px; 
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
} */
/* 
.quantityContainer{
	display: flex;
}

.quantityContainer>div{
	display: flex;
	align-items: center;
}

.AddtoCartBtnContainer{
	display: flex;
	align-items: center;
}

.MenuImageContainer{mmeContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 10px;
}

.discountSetContainer{
	background-color: lightgrey;
	margin-top: 20px;
	padding:10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
} */

.cartDetails{
	display: flex;
	gap:40px;
	color:rgb(224, 224, 224);
	font-weight: 600;
	/* justify-content: space-around; */
}
.ProductPriceContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.PriceContainer{
	display: flex;
}

.quantityNumberQantity{
	display: flex;
	align-items: center;
}

.text-decoration{
	text-transform:uppercase
}

.MenuImageContainer{
	background-color: rgba(213, 218, 224, 0.473) !important;;
	/* width: 25%;  */
	/* min-width:300px; */
	min-height: 500px;
	max-height:600px;
	max-width: 45%;
	margin:20px 10px ;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.MenuImageContainer>img{
	margin-bottom:10px;
}

.discountSetDetailContainer{
	display: flex;
	justify-content: space-around;
}

.SelectionContainer{
	display: flex;
	align-items: center;
	flex-direction: column;
	height :auto;
	
	
}

.discountMainContainer{
	flex: 4;
	margin-right: 20px;
	overflow-y: scroll;
	height: calc(100vh - 70px);
	padding: 30px;
	margin-left: 1%;
}

.addToCartContainer{
	display: flex;	
}

.stickyTitle{
	position: sticky;
	top:0;
	background:white;
	
}

.discountWrap-this{
	display: flex;
	flex-wrap: wrap;
}

.ProductMainContainer{
	display: flex;
	flex-direction: column;
	margin: 0 50px;
	flex: 6;
	margin: 50px;
}

.border{
	border: 1px solid lightgrey;
}

.Image{
	width:100%;
	min-height:70%;
	height:70%;
  }

  .cartText{ font-size: 16px;}

  .cartContainer{
	  background-color: rgba(233, 237, 243, 0.473) !important;
	  color: rgba(87, 87, 214, 0.89)!important;
  }
  .cartContainer:hover{
	background-color: rgba(16, 29, 214, 0.658) !important;
	color: rgb(243, 243, 243) !important;
}


  @media only screen and (max-width: 1600px) {
	.MenuImageContainer{
		max-width:80% ;
		/* background-color:red */
		margin-left: 20px;
	}
	.discountMainContainer{
		margin-left: 5%;
		
	}
  }

  .discountSetDetail{
	  font-weight: 300;
	  font-size:28px;
	  color: rgb(68, 61, 61) !important;
  }

  .btwN{

	background-color: rgb(174, 194, 238) !important;
	color: darkblue;
	width:100% !important
  }

  .btwN:hover{

	background-color: rgb(19, 111, 231) !important;
	color:white !important;
	width:100% !important
  }

  .btw-p{
	background-color: rgb(174, 194, 238) !important;
	color: rgb(28, 118, 236) !important
  }

  .btw-p:hover{

	background-color: rgb(19, 111, 231) !important;
	color:white !important;

  }

  .product2{
	  font-size: 25px;
	  color: rgb(195, 208, 235);
	  margin-right: 40px;
  }

  .btw-p2{

	color:rgb(174, 194, 238) !important
  }

  .btw-p2:hover{

	color: rgb(19, 111, 231) !important
  }