.orderCartMainPageContainer{
    flex:6;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding :20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 55%;
    border: 1px solid #ddd;
  }

  th, td {
    text-align: center;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

  .actionBtnContainer{
    display: flex;
    justify-content:space-around
  }

  .tableHeader{
    background-color:rgba(182, 181, 190, 0.356) !important
  }

  .tableHeader>th{
    padding: 20px 0;
    width: 13%;
  }

.totalPriceContainer{
  background-color:rgba(194, 215, 235, 0.205) !important;
}
.totalPrice{
  font-size:30px;
  font-weight:200;
}

.totalPriceName{
  margin-left: 15%;
  font-weight: 300;
  /* color:white; */
  /* text-align: right !important; */
  
}
.detailsProductName{
  font-weight:100 !important;
  color:rgb(108, 108, 129) !important;
  display: inline;
  margin-left: 15px;
}

.fontColorGray{
  font-weight:400 !important;
  color:rgb(108, 108, 129) !important;
  font-size: 17px;
  padding: 8px 0 ;
}

.setName{
  font-weight:400!important ;
  font-size: 18spx;
  color:rgb(78, 78, 117) !important;
}

.btnHover:hover{
  background-color:rgba(64, 64, 228, 0.651) !important;
  color: white;
}
/* .btnHover{

  font-size: 25px!important;
} */